<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gazebo physics and plugin settings -->
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="laser_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="camera_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="controller_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="lb_wheel_link">
        <material>Gazebo/White</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>

    <gazebo reference="lf_wheel_link">
        <material>Gazebo/White</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>

    <gazebo reference="rb_wheel_link">
        <material>Gazebo/White</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>

    <gazebo reference="rf_wheel_link">
        <material>Gazebo/White</material>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
    </gazebo>

    <!-- DiffDrive Plugin -->
    <gazebo>
        <plugin
            filename="libignition-gazebo6-diff-drive-system.so"
            name="ignition::gazebo::systems::DiffDrive">
            <left_joint>lf_wheel_joint</left_joint>
            <left_joint>lb_wheel_joint</left_joint>
            <right_joint>rf_wheel_joint</right_joint>
            <right_joint>rb_wheel_joint</right_joint>
            <wheel_separation>0.18915</wheel_separation>
            <wheel_radius>0.032</wheel_radius>
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <odom_frame>odom</odom_frame>
            <base_frame>base_link</base_frame>
            <odom_publish_frequency>50</odom_publish_frequency>
        </plugin>
    </gazebo>

</robot>